<app-home></app-home>
<div class="home">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Scaledge India Pvt Ltd</mat-card-title>
        <mat-card-subtitle>Internal App</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/S_logo.png" alt="Scaledge Logo">
      <mat-card-content>
        <p>
          This application enables to find a perfect candidate for a given role.
          Go ahead to find one.
        </p>
      </mat-card-content>
    </mat-card>
    
  
  </div>
