<app-home></app-home>
<div class="somecss">
<div>
    <h2 style="margin-top: 20px; text-align: center;">Add a candidate</h2>
    <div style="margin-bottom: 30px; text-align: center;">
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <button mat-flat-button color="primary" type="submit">Upload</button>
    </div>
</div>




<h2> Candidates List </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Phone no. </th>
            <th> Skills </th>
            <th> Qualification </th>
            <th> Score/Grade </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profile of profiles">
            <td>{{ profile.name}}</td>
            <td>{{ profile.email}}</td>
            <td>{{ profile.phone}}</td>
            <td>{{ profile.skills}}</td>
            <td>{{ profile.qualification}}</td>
            <td>{{ profile.score}}</td>
            <td><mat-icon>eco</mat-icon><mat-icon>person</mat-icon></td>
        </tr>
    </tbody>
</table>



<button mat-flat-button color="accent">
    Download List
</button>

</div>