table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .somecss{
    border-radius: 10px;
    border-color: red;
    margin: 100px;
}