<div class="row">
    <div col="col-md-6">
        <form [formGroup]="profileForm" class="center">
            <div class="form-group">
                <input type="text" (change)="getName(name)"><br />
            </div>
            <div class="form-group">
                <input type="file" name="profile" (change)="getFile($event)">
            </div>
            <div class="form-group">
                <button mat-flat-button color="primary" type="submit" class="btn btn-success" (click)="onSubmit()" >Upload</button>
            </div>
        </form>
    </div>
</div>
